<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear customer,</h1>
    <p>
      Thank you for your order!<br>
      Details of your order are listed below:
    </p>
    <p>incluir detalhes da ordem</p>
    <p>
      To make sure you get your items as soon as possible, we may post each item separately. Please note, payment will be taken from your card or account within 48 hours.
    </p>
    <p>
      This email is an acknowledgement of receipt of your order. Your contract to purchase these items is not complete until we send you an email confirming that the items have been dispatched to you.
    </p>
    <p>
      We hope to see you again soon.
    </p>
  </body>
</html>





