<div class="each_review">

  <table>
    <tr>
      <td><b>Rating:</b></td>
      <td><%= review.rating %></td>
    </tr>
    <tr>
      <td><b>Review:</b></td>
      <td><%= review.description %></td>
    </tr>
  </table>
  <% if current_user.present? && review.user_id == current_user.id %>
    <span >
      <%= link_to product_review_remove_item_path(product_id: @product.id, review_id: review.id), class: 'btn btn-xs btn-danger', method: :delete do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </span>
  <% end %>
</div>

